.root {
	-fx-background-color:#FBFBFB;
}

.highPriority .table-cell {

    -fx-text-fill: RED;
}

.normalPriority .table-cell{
	-fx-text-fill: BLACK;
}

.lowPriority .table-cell{
	-fx-text-fill: FORESTGREEN;
}

.done .table-cell{
	-fx-text-fill: #BDBDBD;
}

.undone .table-cell{
	-fx-text-fill: BLACK;
}

.current .table-cell {
	-fx-font-weight: normal;
}

.overdue .table-cell {
    -fx-font-weight: bold;
}