.root {
	-fx-background-color: #FBFBFB;
}

.table-column {
    -fx-alignment: CENTER;
    -fx-text-fill: BLACK;
    -fx-font-weight: NORMAL;
	-fx-font: 12px System;
}

.highPriority .table-cell {
    -fx-text-fill: RED;
}

.normalPriority .table-cell{
	-fx-text-fill: BLACK;
}

.lowPriority .table-cell{
	-fx-text-fill: FORESTGREEN;
}

.done .table-cell{
	-fx-text-fill: #BDBDBD;
}

.undone .table-cell{
	-fx-text-fill: BLACK;
}

.current .table-cell {
	-fx-font-weight: NORMAL;
}

.overdue .table-cell {
    -fx-font-weight: BOLD;
}